.body-vagas {
  min-height: 100vh !important;
  height: 100% !important;
  display: flex !important;
  flex-direction: column !important;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin: 1rem 5rem;
  flex-grow: 1 !important;
}

/* ------CORES------ */
h1 {
  color: #1d3557;
  font-weight: bold;
}

h2 {
  color: #457b9d;
  font-weight: bold;
}

h3 {
  color: #333333;
}

/* ------CORES------ */

/* ------COLUNA COM VAGAS------ */
#bloco-vagas {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 1rem 0;
  flex: 1.4;
}

.vaga {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 15rem;
  background-color: #daeaeb;
  border: none;
  border-radius: 1rem;
  padding: 1rem;
  cursor: pointer;
  gap: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.5s ease-out;
}

.vaga:hover {
  transform: translateY(-0.313rem);
  box-shadow: 0.15rem 0.25rem 0.4rem 0.1rem #666666;
}

.vaga:active {
  background-color: #cdddde;
  transition: background-color 0s ease-out 0s;
}

.vaga.selecionado {
  transform: translateY(-0.313rem);
  box-shadow: 0.15rem 0.25rem 0.4rem 0.1rem #666666;
}

.cabecalho {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 0.2rem;
}

.cabecalho span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.requisitos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.requisitos h3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.descricao-resumida {
  font-size: 1rem;
  text-align: justify;
  font-weight: bold;
  color: #333333;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.3rem;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  line-clamp: 4;
}

/* ------COLUNA COM VAGAS------ */

/* ------COLUNA PRINCIPAL DA VAGA------ */
#vaga-principal {
  width: auto;
  padding: 0.5rem 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  background-color: #daeaeb;
  border-radius: 1rem;
  margin: 1rem 0;
  gap: 1.5rem;
  position: sticky;
  top: 1rem;
  bottom: 1rem;
  overflow-y: auto;
  flex: 1;

  opacity: 0;
  visibility: hidden;
  height: 0;
  transition: opacity 0.5s ease, visibility 0.5s ease, height 0.5s ease;
}

#vaga-principal.visivel {
  opacity: 1;
  visibility: visible;
  height: 90vh;
}

#vaga-principal h1 {
  text-align: center;
  margin: 0;
}

#vaga-principal h3 {
  display: flex;
  align-items: center;
}

#vaga-principal::-webkit-scrollbar {
  display: none;
}

.fechar-vaga {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#fechar-vaga {
  padding: 0;
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 0.7rem;
  transition: color 0.5s ease-out;
  color: #333333;
}

#fechar-vaga:hover {
  color: #f00;
}

#fechar-vaga:active {
  color: #333333;
  transition: color 0s ease-out 0s;
}

#requisitos {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#requisitos h3 {
  margin: 0;
}

.btn-candidatar {
  display: flex;
  justify-content: center;
  align-items: center;
}

#btn-candidatar {
  width: 12rem;
}

hr {
  border: 0.1rem solid #333333;
  width: 100%;
  margin: 0;
}

#descricao {
  text-align: justify;
  color: #333333;
}

#descricao span {
  font-family: "Montserrat", sans-serif !important;
}

.descricao-resumida span {
  font-family: "Montserrat", sans-serif !important;
}
/* ------COLUNA PRINCIPAL DA VAGA------ */
